@font-face {
   font-family: "Moonet DEMO";
   src: url("fonts/MoonetDEMO-Regular.eot") format("embedded-opentype"), url("fonts/MoonetDEMO-Regular.otf") format("opentype"), url("fonts/MoonetDEMO-Regular.woff") format("woff");
   font-weight: normal;
   font-style: normal;
}